
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "controllers/users";
@import "controllers/circle";
@import "controllers/meeting";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

nav .photo {
  width: 40px;
}

img {
  max-width: 100%;
}

.font-xx-small {
  font-size: xx-small;
}

.avatar-border {
  border: 2px solid var(--dark);
  border-radius: 50%;
}

a {
  cursor: pointer;
}

.btn-fb {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #395091;
  }
}

.notifications {
  .fa-bell {
    transform: translateY(1px) scale(1.3);
  }
  .notifications-list {

    @media (min-width: 768px) {
      width: 400px;
    }

    .dropdown-item {
      white-space: normal;
    }
  }
}
